In [31]:
from yahoodownloader import YahooDownloader
from preprocessors import FeatureEngineer, data_split
import numpy as np

In [32]:
TRAIN_START_DATE = '2010-01-01'
TRAIN_END_DATE = '2021-10-01'
TEST_START_DATE = '2021-10-01'
TEST_END_DATE = '2023-03-01'

In [33]:
nifty_50_tickers = [
    'ADANIPORTS.NS',
    'ASIANPAINT.NS',
    'AXISBANK.NS',
    'BAJAJ-AUTO.NS',
    'BAJFINANCE.NS',
    'BAJAJFINSV.NS',
    'BPCL.NS',
    'BRITANNIA.NS',
    'CIPLA.NS',
    'COALINDIA.NS',
    'DIVISLAB.NS',
    'DRREDDY.NS',
    'EICHERMOT.NS',
    'GRASIM.NS',
    'HCLTECH.NS',
    'HDFCBANK.NS',
    'HDFCBANK.NS',
    'HEROMOTOCO.NS',
    'HINDALCO.NS',
    'HINDUNILVR.NS',
    'ICICIBANK.NS',
    'IOC.NS',
    'INDUSINDBK.NS',
    'INFY.NS',
    'ITC.NS',
    'JSWSTEEL.NS',
    'KOTAKBANK.NS',
    'LT.NS',
    'M&M.NS',
    'MARUTI.NS',
    'NESTLEIND.NS',
    'NTPC.NS',
    'ONGC.NS',
    'POWERGRID.NS',
    'RELIANCE.NS',
    'SHREECEM.NS',
    'SBIN.NS',
    'SBILIFE.NS',
    'SUNPHARMA.NS',
    'TCS.NS',
    'TATACONSUM.NS',
    'TATAMOTORS.NS',
    'TATASTEEL.NS',
    'TECHM.NS',
    'TITAN.NS',
    'ULTRACEMCO.NS',
    'UPL.NS',
    'WIPRO.NS'
]

In [34]:
df = YahooDownloader(start_date = TRAIN_START_DATE,
                     end_date = TEST_END_DATE,
                     ticker_list = nifty_50_tickers).fetch_data()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
Shape of DataFrame:  (153879, 8)

In [35]:
df.head()

,date,open,high,low,close,volume,tic,day
0,2010-01-04,111.000000,112.559998,110.699997,102.799362,1079040,ADANIPORTS.NS,0
1,2010-01-04,179.100006,179.990005,178.000000,159.429871,80350,ASIANPAINT.NS,0
2,2010-01-04,198.779999,199.990005,197.619995,180.921814,4371510,AXISBANK.NS,0
3,2010-01-04,882.500000,886.474976,862.525024,579.148254,381510,BAJAJ-AUTO.NS,0
4,2010-01-04,34.332169,35.491478,34.017780,34.740261,2469924,BAJAJFINSV.NS,0

In [36]:
INDICATORS = ['macd',
               'rsi_30',
               'cci_30',
               'dx_30']

In [37]:
fe = FeatureEngineer(use_technical_indicator=True,
                     tech_indicator_list = INDICATORS,
                     use_turbulence=True,
                     user_defined_feature = False)

processed = fe.preprocess_data(df)
processed = processed.copy()
processed = processed.fillna(0)
processed = processed.replace(np.inf,0)

Successfully added technical indicators
Successfully added turbulence index

In [38]:
processed.sample(5)

,date,open,high,low,close,volume,tic,day,macd,rsi_30,cci_30,dx_30,turbulence
2786,2021-04-20,1006.0,1006.000000,957.000000,856.725098,9742418,HCLTECH.NS,1,5.828791,49.051815,-44.316134,2.212293,3.065847
1694,2016-11-17,383.0,388.000000,378.000000,321.420227,5376838,HCLTECH.NS,3,-2.534300,46.086582,-115.605014,17.355518,1.334720
2155,2018-09-25,551.0,562.525024,547.150024,484.081635,5664544,HCLTECH.NS,1,10.973872,65.113595,118.800247,38.416542,1.259865
2090,2018-06-20,460.5,464.375000,453.200012,394.207123,2820262,HCLTECH.NS,2,-0.983713,46.658106,-0.872223,11.821553,0.526612
519,2012-02-02,110.0,115.949997,109.875000,89.103157,8703964,HCLTECH.NS,3,2.003924,62.262246,200.898374,30.757021,5.751423

In [41]:
stock_dimension = len(processed.tic.unique())
state_space = 1 + 2*stock_dimension + len(INDICATORS)*stock_dimension
print(f"Stock Dimension: {stock_dimension}, State Space: {state_space}")
# processed.tic

0       HCLTECH.NS
1       HCLTECH.NS
2       HCLTECH.NS
3       HCLTECH.NS
4       HCLTECH.NS
           ...
3246    HCLTECH.NS
3247    HCLTECH.NS
3248    HCLTECH.NS
3249    HCLTECH.NS
3250    HCLTECH.NS
Name: tic, Length: 3251, dtype: object